
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.out
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.log
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.fls
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.fdb_latexmk
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.brf
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.aux
Mini_Courses/.DS_Store
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.synctex.gz
.DS_Store
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.bbl
Mini_Courses/Petrov/Petrov_PANEM2023_Lecture_notes.blg

Mini_Courses/Petrov/images/fig_P_u_free.synctex.gz
Mini_Courses/Petrov/images/fig_P_u_free.log
Mini_Courses/Petrov/images/fig_P_u_free.fls
Mini_Courses/Petrov/images/fig_P_u_free.fdb_latexmk
Mini_Courses/Petrov/images/fig_P_u_free.aux
