
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.out
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.log
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.fls
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.fdb_latexmk
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.brf
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.aux
Mini Courses/.DS_Store
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.synctex.gz
.DS_Store
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.bbl
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.blg

Mini Courses/Petrov/images/fig_P_u_free.synctex.gz
Mini Courses/Petrov/images/fig_P_u_free.pdf
Mini Courses/Petrov/images/fig_P_u_free.log
Mini Courses/Petrov/images/fig_P_u_free.fls
Mini Courses/Petrov/images/fig_P_u_free.fdb_latexmk
Mini Courses/Petrov/images/fig_P_u_free.aux
