
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.out
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.log
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.fls
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.fdb_latexmk
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.brf
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.aux
Mini Courses/.DS_Store
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.synctex.gz
.DS_Store
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.bbl
Mini Courses/Petrov/Petrov_PANEM2023_Lecture_notes.blg

